@import "../../../styles/scss/utils/variables";

.header {
  background-size: cover;
  height: 98vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-blue-light, 0.8),
                  rgba($color-blue-dark, 0.8)),
  url("images/background-photo.png");
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__navbar {
    width: 100%;
    padding: 1% 5%;
    height: 9rem;
    z-index: 1;

    &--item {
      float: right;
      display: inline-block;
      padding: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: 1rem 2.3rem 0 0;
      border-bottom: .2rem solid transparent;
      align-items: center;
      transition: border-bottom .2s;

      &:active,
      &:hover {
        border-bottom: .2rem solid $color-pink;
      }

      &.log-in-link {
        color: $color-pink;
        border: .2rem solid $color-pink;
        padding: 1rem 3rem;
        transition: all .2s;

        &:hover,
        &:active {
          color: $color-white;
          background-color: $color-pink;
          cursor: pointer;
        }
      }
    }
  }

  &__logo {
    font-weight: bold;
    margin-top: 1.2rem;
    font-size: 3rem;
    text-align: center;
    border-bottom: none !important;
    float: left;
    margin-left: 3rem;
  }

  &__registry {
    &--popup {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("images/login.png");
      background-size: cover;
      background-position: center;
      z-index: 1;

      &-close {
        position: absolute;
        top: 7%;
        right: 7%;
        font-size: 4rem;
        color: $color-blue-light;
        transition: all .2s;

        &:active,
        &:hover {
          cursor: pointer;
          color: $color-blue-medium
        }
      }
    }

    &--boxes {
      width: 66%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: .5rem;
      background-size: cover;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("images/background-login.png");
      background-position: center;
      z-index: 2;
    }

    &--login-box {
    }

    &--signup-box {
      background-image: linear-gradient(
                      to right bottom,
                      rgba($color-blue-light, 0.8),
                      rgba($color-blue-dark, 0.8));
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &--login-box {
      &--form {
        padding-top: 15rem;
        padding-bottom: 10rem;

        .login-form-input {
          display: block;
          width: 70%;
          padding: 1rem 1.5rem;
          text-align: center;
          margin: 0 auto 2rem auto;
          border: none;
          background-color: $color-white-dark;
          border-radius: .3rem;

          &-submit {
            display: block;
            width: 70%;
            padding: 1rem 1.5rem;
            text-align: center;
            margin: 0 auto 2rem auto;
            border: none;
            background-color: $color-blue-light;
            border-radius: .3rem;
          }
        }
      }
    }

    &--signup-box {
      padding-top: 10rem;
      padding-bottom: 10rem;

      &--form {
        .signup-form-input {
          width: 40%;
          display: block;
          padding: 1rem;
          text-align: center;
          margin: 0 auto .5rem auto;
          border: none;
          background-color: $color-white-dark;
          border-radius: .3rem;

          &-submit {
            display: block;
            width: 40%;
            padding: 1rem 1.5rem;
            text-align: center;
            margin: 2rem auto 0 auto;
            border: none;
            background-color: $color-blue-light;
            border-radius: .3rem;
          }
        }
      }
    }
  }
}