body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading--primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3px;
    //animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    //animation: moveInRight 1s ease-out;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-small {
  font-size: 12px;
  padding-right: 10px;
}