body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading--primary {
  color: $color-white;
  //text-transform: uppercase;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1px;
    animation: moveInLeft 1.5s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    animation: moveInRight 1.5s ease-out;
    color: $color-grey-light-2;
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 60px;
  background-image: linear-gradient(
                  to right,
                  rgba($color-blue-light, 0.8),
                  rgba($color-blue-dark, 0.8)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s;

  &:hover {
    transform: skewX(1.05deg) skewY(1.5deg) scale(1.05);
    text-shadow: .5 1 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-small {
  font-size: 1.2rem;
  padding-right: 1rem;
}