//COLORS
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-blue-dark: #0652DD;
$color-blue-medium: #0288D1;
$color-blue-light: #74b9ff;
$color-white-dark: #f6f6f6;

//FONT
$default-font-size: 1.6rem;