@import "../../../../../styles/scss/utils/variables";

.cinema__page {
  width: 100%;
  margin: auto;
  background-color: $color-grey-light-1;
  min-height: 100vh;
  text-align: center;

  &--nav {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    padding: 2% 5% 2% 0;
    height: 7rem;
    z-index: 1;
  }

  &--section {
    min-height: 100vh;
    padding-bottom: 3rem;
  }

  &--cinemas-list {
    list-style: none;
    margin: auto;
    text-align: center;

    &--item {
      display: block;
      width: 80%;
      padding: 10px;
      margin: 30px auto 0 auto;
      background-color: rgba($color-white, .8);
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      color: $color-grey-dark;

    }
  }
}

.buy__ticket--section {

  &__places {
    text-align: center;
  }

  &__table {
    border-collapse: collapse;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    &--seat {
      border: 2px solid $color-black;
      padding: .5rem;
      transition: all .2s;

      &:hover {
        cursor: pointer;
        background-color: $color-black;
        color: $color-white-dark;
      }
    }

    &--row {
      font-weight: 700;
      color: $color-black;
      padding: .5rem;
      margin-right: .5rem;
      border: none;
    }
  }

  &__selected-place {
    display: inline-block;
    border: 2px solid $color-black;
    color: $color-black;
    font-weight: 700;
    width: 5rem;
    padding: .4rem;
    margin-right: .6rem;
    margin-top: 1.5rem;
  }

  &__btn {
    background-color: $color-blue-medium;
    color: $color-white-dark;
    font-size: 1.5rem;
    width: 20rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: all .2s;

    &:active,
    &:hover {
      background-color: $color-blue-dark;
      outline: none;
      cursor: pointer;
    }
  }
}

.whiteTd {
  background-color: $color-white;
  color: $color-black;
}

.greenTd {
  background-color: $color-green;
  color: $color-white;

  &:hover {
    background-color: $color-red-dark;
  }
}

.error-statement {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  z-index: 2;
  border: 2px solid $color-grey-dark;
  background-color: $color-white-dark;

  &__btn {
    width: 8rem;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    border: none;
    color: $color-white-dark;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $color-red-dark;
    margin-top: 1.5rem;
    transition: all .2s;

    &:active,
    &:hover {
      outline: none;
      background-color: $color-red;
      cursor: pointer;
    }
  }
}