@import "../../../../../styles/scss/utils/variables";
@import "../../../../../styles/scss/utils/mixins";

.cinema__page {
  width: 100%;
  margin: auto;
  background-color: $color-grey-light-1;
  min-height: 100vh;
  text-align: center;

  &--back {
    position: fixed;
    top: 1rem;
    left: 5rem;
    font-weight: 700;
    color: $color-black;
    font-size: 4rem;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      font-size: 4.2rem;
    }

    @include respond(phone) {
      left: 3rem;
    }
  }

  &--nav {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    padding: 2% 5% 2% 0;
    height: 7rem;
    z-index: 1;
  }

  &--section {
    min-height: 100vh;
    padding-bottom: 3rem;
  }

  &--cinemas-list {
    list-style: none;
    margin: auto;
    text-align: center;

    &--item {
      display: block;
      width: 80%;
      padding: 1rem;
      margin: 4rem auto 0 auto;
      background-color: rgba($color-white, .8);
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      color: $color-grey-dark;

      &--info {

        @include respond(tab-port) {
          padding-bottom: 1rem;
          border-bottom: .5px solid $color-grey-light-2;
        }
      }
    }
  }
}

.buy__ticket--section {

  &__places {
    text-align: center;
  }

  &__table {
    border-collapse: collapse;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    &--seat {
      border: 2px solid $color-black;
      padding: .5rem;
      transition: all .2s;

      &:hover {
        cursor: pointer;
        background-color: $color-black;
        color: $color-white-dark;
      }
    }

    &--row {
      font-weight: 700;
      color: $color-black;
      padding: .5rem;
      margin-right: .5rem;
      border: none;
    }
  }


  &__selected-wrapper {
    display: inline-block;
    margin-right: .6rem;
  }

  &__selected-row {
    display: block;
    float: left;
    border-left: 2px solid $color-black;
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    color: $color-black;
    font-weight: 700;
    padding: .4rem;
    margin-top: 1.5rem;

    &-p {
      text-transform: uppercase;
      color: $color-black;
      font-size: .8rem;
    }
  }

  &__selected-place {
    display: block;
    border: 2px solid $color-black;
    color: $color-white;
    font-weight: 700;
    padding: .4rem;
    margin-top: 1.5rem;
    overflow: hidden;
    background-color: $color-black;

    &-p {
      text-transform: uppercase;
      color: $color-grey-light-1;
      font-size: .8rem;
    }
  }

  &__btn {
    background-color: $color-blue-medium;
    color: $color-white-dark;
    font-size: 1.5rem;
    width: 20rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: all .2s;

    &:active,
    &:hover {
      background-color: $color-blue-dark;
      outline: none;
      cursor: pointer;
    }
  }
}

.whiteTd {
  background-color: $color-white;
  color: $color-black;
}

.greenTd {
  background-color: $color-green;
  color: $color-white;

  &:hover {
    background-color: $color-red-dark;
  }
}

.greyTd {
  background-color: $color-grey-dark;
  color: $color-white;

  &:hover {
    cursor: auto;
    background-color: $color-grey-dark;
  }
}