/*--- BASIC SETTINGS ---*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-size: cover;
    height: 100vh;
    background: linear-gradient(130deg, #0652DD 60%, #74b9ff 60%) fixed center;
    font-family: 'BioRhyme', serif;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-weight: 400;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*--- NAVIGATION ---*/
.navbar {
    width: 100%;
    padding: 1% 5%;
    height: 70px;
    position: fixed;
    z-index: 100;
    color: #fff;
}

.navbar-info {
    float: right;
}

.navbar-options {
    float: left;
}

.navbarItem {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70%;
    margin: 10px 5px 0 0;
    border-bottom: 2px solid transparent;
    align-items: center;
    transition: border-bottom .2s;
}

.navbarItem:hover,
.navbarItem:active {
    border-bottom: 2px solid #0288D1;
}

.logo {
    color: #000000;
    font-weight: bold;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    text-align: center;
    border-bottom: none !important;
}

/*--- STICKY NAVBAR ---*/
.sticky {
    background-color: #fff;
    color: #000 !important;
    width: 100%;
    margin: 0 !important;
    border-bottom: 1px solid #000;
    transition: width, margin .3s;
}

.sticky a {
    color: #000;
}

/*--- WEBSTART PAGE ---*/
.webstart-page {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-70%, -40%);
}

.webstart-page h2 {
    font-style: italic;
}

.webstart-page h3 {
    font-weight: lighter;
    margin-bottom: 20px;
}

.webstart-page .find-cinema input {
    margin-bottom: 5px;
}

.webstart-page .find-cinema input::placeholder {
    color: #000;
}

.webstart-page .find-cinema input:focus {
    outline: none;
}

.webstart-page .find-cinema input[type=submit] {
    width: 120px !important;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #0288D1 !important;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
}

.webstart-page .find-cinema input[type=submit]:hover {
    background-color: #448AFF;
}

/*--- LOGIN BOXES ---*/

.signup-box,
.login-box {
    position: fixed;
    left: 80%;
    top: 10%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #555;
    -webkit-box-shadow: inset 5px 3px 9px 4px #FFFFFF;
    box-shadow: inset 5px 3px 9px 4px #FFFFFF;
    z-index: 1;
}

.signup-box input,
.login-box input {
    display: block;
    padding: 10px;
    text-align: center;
}

.signup-box input[type=password],
.signup-box input[type=name],
.signup-box input[type=text],
.signup-box input[type=number],
.signup-box input[type=email],
.login-box input[type=password],
.login-box input[type=text] {
    margin-bottom: 5px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 3px;
}

.signup-box input[type=password]:focus,
.signup-box input[type=name]:focus,
.signup-box input[type=text]:focus,
.signup-box input[type=number]:focus,
.signup-box input[type=email]:focus,
.login-box input[type=password]:focus,
.login-box input[type=text]:focus {
    outline: none;
}

.signup-box input[type=submit],
.login-box input[type=submit] {
    text-transform: uppercase;
    background-color: #0288D1;
    text-align: center;
    width: 150px;
    font-weight: bold;
    padding: 10px;
    font-size: 60%;
}

.search-cinema-city ul li,
.search-cinema-name ul li,
.webstart-page .find-cinema input {
    display: inline-block;
    width: 300px !important;
    background-color: #f6f6f6 !important;
    border: none;
    padding: 15px !important;
    margin-right: 10px !important;
    color: #000;
    font-size: 15px;
}

/*--- SEARCH BOXES ---*/

.search-boxes {
    width: 620px;
    position: fixed;
}

.search-cinema-city,
.search-cinema-name {
    display: block;
}

.search-cinema-name {
    float: left;
}

.search-cinema-city {
    float: right;
}

.search-cinema-city ul,
.search-cinema-name ul,
.webstart-page .find-cinema input {
    border-radius: 3px;
}

.search-cinema-city ul,
.search-cinema-name ul {
    list-style: none;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-cinema-city ul::-webkit-scrollbar,
.search-cinema-name ul::-webkit-scrollbar {
    display: none;
}

.search-cinema-city ul li,
.search-cinema-name ul li {
    display: block;
}

.search-cinema-city ul li:hover,
.search-cinema-name ul li:hover {
    background-color: #555555 !important;
    color: #fff !important;
    cursor: pointer;
}

/*--- ICONS ---*/

.icon-small {
    font-size: 12px;
    padding-right: 10px;
}

.icon-big {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.disappear {
    display: none;
}