@import "../scss/utils/variables";

.header {
  background-size: cover;
  height: 98vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-blue-light, 0.8),
                  rgba($color-blue-dark, 0.8)),
  url("images/background-photo.png");
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__navbar {
    width: 100%;
    padding: 1% 5%;
    height: 9rem;
    z-index: 1;
    color: $color-white;

    &--options {
      float: left;
    }

    &--info {
      float: right;
    }

    &--item {
      display: inline-block;
      padding: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin: 1rem .5rem 0 0;
      border-bottom: .2rem solid transparent;
      align-items: center;
      transition: border-bottom .2s;

      &:active,
      &:hover {
        border-bottom: .2rem solid $color-blue-medium;
      }

      &.sign-up-link:hover,
      &.sign-up-link:active,
      &.log-in-link:active,
      &.log-in-link:hover {
        border-bottom: .2rem solid $color-blue-dark;
      }

      &.contact-link:hover,
      &.contact-link:active,
      &.about-us-link:hover,
      &.about-us-link:active {
        border-bottom: .2rem solid $color-blue-light;
      }
    }
  }

  &__logo {
    color: #000000;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3rem;
    text-align: center;
    border-bottom: none !important;
  }

  &__registry {
    &--login-box,
    &--signup-box {
      position: absolute;
      left: 80%;
      top: 10%;
      padding: 2rem;
      background-color: $color-white;
      border-radius: .5rem;
      border: 1px solid $color-grey-dark;
      -webkit-box-shadow: inset .5rem .3rem .9rem .4rem $color-white;
      box-shadow: inset .5rem .3rem .9rem .4rem $color-white;
      z-index: 1;

      &--form {
        .login-form-input {
          display: block;
          padding: 10px;
          text-align: center;
          margin-bottom: .5rem;
          margin-left: auto;
          margin-right: auto;
          border: none;
          background-color: $color-white-dark;
          border-radius: .3rem;

          &-submit {
            text-transform: uppercase;
            background-color: $color-blue-dark;
            text-align: center;
            width: 15rem;
            font-weight: bold;
            padding: 1rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}