@import '../../../../styles/scss/utils/variables';
@import '../../../../styles/scss/utils/mixins';

.my-account {
  width: 100%;
  margin: auto;
  background-color: $color-grey-light-1;
  min-height: 100vh;
  text-align: center;

  &__text {
    float: left;
    padding-left: 6rem;
    text-transform: uppercase;

    @include respond(phone) {
      display: none;
    }
  }

  &__person-icon {
    display: inline-block;
    color: $color-blue-light;
    font-size: 2.5rem;
    transform: translateY(.5rem);
    font-weight: 700;
  }

  &__nav {
    width: 100%;
    padding: 4rem 1.5rem;
    border-bottom: 1px solid $color-grey-light-2;

    &--sticky {
      background-color: $color-black;
    }

    @include respond(phone) {
      position: fixed;
      z-index: 1000;
      padding: .8rem 1rem;
    }
  }

  &__options {
    list-style: none;
    width: 100%;
    padding: 1rem 8rem;
    margin: auto;

    @include respond(phone) {
      padding: 0.3rem 4rem;
    }

    &--item {
      display: inline-block;
      color: $color-grey-dark;
      font-weight: 400;
      text-transform: uppercase;
      transition: all .3s;
      padding: .5rem 0;
      float: right;

      &:not(:last-child) {
        margin-left: 2rem;
      }

      @include respond(phone) {
        float: none;
        text-align: center;
        color: $color-white;

        &:last-child {
          margin-left: 2rem;
        }
      }

      &:active,
      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $color-pink;
      }

      &--icon {
        color: $color-white;
        transform: translateY(-.5rem);
        display: block;
        font-size: 3rem;
        float: left;
      }
    }

    &--item--home {
      display: inline-block;
      color: $color-grey-dark;
      font-weight: 400;
      text-transform: uppercase;
      transition: all .3s;
      padding: .5rem 2rem;
      float: right;
      border: 2px solid $color-pink;

      @include respond(phone) {
        display: block;
        float: left;
        margin-left: 10rem;
      }

      &:not(:last-child) {
        margin-left: 2rem;
      }

      &:active,
      &:hover {
        cursor: pointer;
        background-color: $color-pink;
        color: $color-white;
      }
    }
  }

  &__tickets {
    list-style: none;
    width: 70%;
    padding-top: 8rem;
    margin: auto;

    &__single-ticket {
      width: 100%;
      background-color: rgba($color-white, .8);
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      border: 1px solid $color-grey-light-2;
      border-radius: .3rem;
      margin-bottom: 1rem;
    }
  }

  &__user {
    width: 70%;
    padding-top: 8rem;
    margin: auto;
    color: $color-grey-dark;
  }
}