.primary-input {
  margin-bottom: .5rem;

  &::placeholder {
    color: #000;
  }

  &:focus {
    outline: none;
  }
}

.popup__input {
  display: block;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 3px;
  background-color: $color-white-dark;
  border: 1px solid $color-grey-light-2;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::placeholder {
    text-transform: lowercase;
    color: $color-grey-dark;
  }

  &--submit {
    width: 30rem;
    margin-top: 3rem;
    background-color: $color-blue-light;
    color: $color-white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3px;
    transition: all .2s;

    &:hover,
    &:active {
      background-color: $color-blue-dark;
      cursor: pointer;
    }
  }
}