//COLORS
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e1e1e1;

$color-white: #fff;
$color-white-dark: #f6f6f6;

$color-pink: #f5638d;
$color-pink-2: #b8275b;

$color-red: #ff0033;
$color-red-dark: #9b0000;

$color-yellow-warning: #ffcc00;

$color-blue-dark: #004CB6;
$color-blue-medium: #0079DB;
$color-blue-light: #2998ff;
$color-navy-blue: #293a4e;
$color-navy-blue-2: #152E79;

$color-blue-light-2: #E0F1FF;

$color-green: #2ecc71;

//DARK MODE COLORS
$color-darkmode-primary: #2F3135;
$color-darkmode-secondary: #4A545C;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;