//COLORS
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e1e1e1;

$color-white: #fff;
$color-white-dark: #f6f6f6;

$color-pink: #f64c72;
$color-pink-2: #e84393;

$color-red: #ff0033;
$color-red-dark: #9b0000;

$color-yellow-warning: #ffcc00;

$color-blue-dark: #5643fa;
$color-blue-medium: #0288D1;
$color-blue-light: #2998ff;
$color-navy-blue: #293a4e;
$color-navy-blue-2: #152E79;

$color-green: #2ecc71;

//FONT
$default-font-size: 1.6rem;