@import "../../../styles/scss/utils/variables";

.steps-section {
  padding: 20rem 10rem;
  text-align: center;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-blue-light, 0.8),
                  rgba($color-blue-dark, 0.8)),
  url("images/steps-background.png");
  background-position: top;
  background-size: cover;
  position: relative;
  transform: skewY(-6deg);

  & > * {
    transform: skewY(6deg);
  }

  &__step {
    background-color: rgba($color-white, .8);
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding: 2.5rem;
    border-radius: .2rem;
    transition: all .2s;
    color: $color-grey-dark;

    &:hover {
      transform: translateY(-20px) scale(1.03);
    }

    .steps-icon {
      font-size: 5rem;
      margin-bottom: 1rem;
      color: $color-blue-light;
    }

    .heading-tertiary {
      margin-bottom: 1.5rem;
    }
  }
}
