@import "../../../../../app/styles/scss/utils/variables";

.cinemas-list-section {
  width: 100%;
  margin: auto;
  background-color: $color-grey-light-1;
  min-height: 100vh;
  text-align: center;

  &__logo {
    text-align: center;
    background-color: $color-blue-medium;

    &--text {
      text-transform: uppercase;
      color: $color-white-dark;
      font-size: 5rem;
      font-weight: 400;
    }
  }

  &__item {
    display: block;
    background-color: rgba($color-white, .8);
    width: 72%;
    padding: 1rem;
    color: $color-grey-dark;
    margin-bottom: 3rem;
    transition: all .3s;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &:first-child {
      margin-top: 3rem;
    }

    &:hover,
    &:active {
      transform: scale(1.01) translateY(-.5rem);
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  h5 {
    font-weight: 400;

  }
}