* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-weight: 400;
}

.font-link {
    font-family: 'Lato', 'Arial', sans-serif;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    padding: 1% 5%;
    height: 70px;
    position: fixed;
    z-index: 100;
    transition: width, margin .3s;
    color: #fff;
}

.sticky {
    background-color: #fff;
    color: #000 !important;
    width: 100%;
    margin: 0 !important;
    border-bottom: 1px solid #000;
    transition: width, margin .3s;
}

.sticky a {
    color: #000;
}

.navbarItem {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70%;
    margin: 10px 5px 0 0;
    border-bottom: 2px solid transparent;
    align-items: center;
    transition: border-bottom .2s;
}

.navbarItem:hover,
.navbarItem:active {
    border-bottom: 2px solid #9b0000;
}

.navbar-info {
    float: right;
}

.navbar-options {
    float: left;
}

.logo {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    font-size: 130%;
    text-align: center;
    border-bottom: 2px solid #9b0000;
}

.webstart-page {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-70%, -40%);
}

.webstart-page h2 {
    font-style: italic;
}

.signup-box,
.login-box {
    position: fixed;
    left: 80%;
    top: 10%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #555;
    -webkit-box-shadow: inset 5px 3px 9px 4px #FFFFFF;
    box-shadow: inset 5px 3px 9px 4px #FFFFFF;
}

.signup-box input,
.login-box input {
    display: block;
    padding: 10px;
    text-align: center;
}

.signup-box input[type=password],
.signup-box input[type=name],
.signup-box input[type=text],
.signup-box input[type=number],
.signup-box input[type=email],
.login-box input[type=password],
.login-box input[type=text] {
    margin-bottom: 5px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 3px;
}

.signup-box input[type=password]:focus,
.signup-box input[type=name]:focus,
.signup-box input[type=text]:focus,
.signup-box input[type=number]:focus,
.signup-box input[type=email]:focus,
.login-box input[type=password]:focus,
.login-box input[type=text]:focus {
    outline: none;
}

.signup-box input[type=submit],
.login-box input[type=submit] {
    text-transform: uppercase;
    background-color: #9b0000;
    text-align: center;
    width: 150px;
    font-weight: bold;
    padding: 10px;
    font-size: 60%;
}

.webstart-page h3 {
    font-weight: lighter;
    margin-bottom: 20px;
}

.search-cinema-city ul li,
.search-cinema-name ul li,
.find-cinema input {
    display: inline-block;
    width: 300px;
    background-color: #f6f6f6;
    border: none;
    padding: 15px;
    margin-right: 10px;
    color: #000;
    font-size: 15px;
}

.find-cinema input {
    margin-bottom: 5px;
}

.search-boxes {
    width: 620px;
    position: fixed;
}

.search-cinema-city,
.search-cinema-name {
    display: block;
}

.search-cinema-name {
    float: left;
}

.search-cinema-city {
    float: right;
}

.search-cinema-city ul,
.search-cinema-name ul,
.find-cinema input {
    border-radius: 3px;
}

.find-cinema input:focus {
    outline: none;
}

.find-cinema input[type=submit] {
    width: 120px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #9b0000;
    font-weight: bold;
    border-radius: 3px;
}

.find-cinema input[type=submit]:hover {
    background-color: #e74c3c;
}

.disappear {
    display: none;
}

.search-cinema-city ul,
.search-cinema-name ul {
    list-style: none;
}

.search-cinema-city ul li,
.search-cinema-name ul li {
    display: block;
}

.search-cinema-city ul li:hover,
.search-cinema-name ul li:hover {
    background-color: #555555;
    color: #fff;
    cursor: pointer;
}

.icon-small {
    font-size: 12px;
    padding-right: 10px;
}